@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

section {
	position: relative;
	width: 100%;
	max-width: 1440px;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	/*background: #0062be;*/
	background: #1a202c;
	transition: 0.5;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9;
}

header .logo {
	position: relative;
	max-width: 70px;
}

header ul {
	position: relative;
	display: flex;
}

header ul li {
	list-style: none;
}

header ul li a {
	display: inline-block;
	color: #fff;
	font-weight: 400;
	margin-left: 40px;
	text-decoration: none;
}

/* Menu scroll */
header.sticky {
	padding: 5px 35px;
	background-color: #fff;
}

.sticky {
	padding: 5px 35px;
	background-color: #fff;
}

header.sticky .logo-name,
header.sticky ul li a {
	color: #1a202c;
	transition: .5s;
}

/* Atras */
.imgBox .ball {
    /*position: absolute;*/
    /*width: 250px;*/
    /*height: 250px;*/
    /*background: red;*/
    /*opacity: .5;*/
}

.imgBox .ball::before {
	content: '';
	position: absolute;
	width: 350px;
    height: 350px;
    background: #2d3748;
    border-radius: 50%;
    transform: translate(20%, -8%);
    opacity: .5;
}

.content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .textBox {
	position: relative;
	max-width: 600px;
}

.content .textBox h1 {
	color: #fff;
	font-size: 4em;
	line-height: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
}

.content .textBox h2 {
	color: #fff;
	font-size: 4em;
	line-height: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
}

.content .textBox h3 {
	color: #fff;
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
}

.content .textBox h2 span {
	font-size: 2em;
}

.content .textBox p {
	color: #fff;
}

.content .textBox a {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #fff;
	color: #111;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.content .imgBox {
	width: 600px;
	display: flex;
	padding-right: 50px;
	margin-top: 50px;
	justify-content: flex-end;
}



.content .imgBox img {
	max-width: 410px;
	z-index: 7;
}

.logo-name {
	font-size: 1.6em;
	color: white;
}

/* Menu Select */
ul #marker {
	position: absolute;
	left: 0;
	height: 4px;
	width: 0;
	background: #e2e8f0;
	bottom: -8px;
	transition: 0.5s;
	border-radius: 4px;
}
/* Fin Menu Select */


/** Acerca de mi **/
.about {
    max-width: 1440px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.photo-container {
	/*width: 50%;*/
	padding-right: 1em;
}

.description-container {
	padding-left: 1em;
	width: 40%;
}

.title-about {
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}

.parrafo-about {
	font-weight: 300;
	color: #cbd5e0;
}

.btn-about {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #edf2f7;
	color: #111;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

/*** Servicios ***/

/*.main {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1a202c;
	min-height: 100vh;
}*/
#servicios {
	display: flex;
	flex-direction: column;
}

.content-card {
	display: flex;
}

.content-info-servicios {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-info-servicios h2 {
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}

.content-info-servicios p {
	font-weight: 300;
	color: #fff;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .card {
	position: relative;
	width: 300px;
	height: 200px;
	margin: 2em;
}

.container .card .face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.container .card .face.face1 {
	background: #2d3748;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform-origin: bottom;
}

.container .card .face.face1 img {
	max-width: 100px;
	color: #fff;
}

.container .card .face.face1 h3 {
	margin: 10px 0 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}

.container .card:hover .face.face1 {
	transform: translateY(-100%) rotateX(90deg);
	background: #00bcd4;
}

.container .card .face.face2 {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transform-origin: top;
	transform: translateY(100%) rotateX(90deg);
}

.container .card:hover .face.face2 {
	transform: translateY(0) rotateX(0deg);
}

/*** Fin Servicios ***/

/*** Contact ***/

#contacto {
	display: flex;
	flex-direction: column;
}

.contact {
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact .content-form {
	max-width: 800px;
	text-align: center;
}

.contact .content-form h2 {
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}

.contact .content-form p {
	font-weight: 300;
	color: #fff;
}

.container-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.container-info .contact-info {
 	width: 50%;
 	display: flex;
 	flex-direction: column;
}

.container-info .contact-info .box {
 	position: relative;
 	padding: 20px 0;
 	display: flex;
}

.container-info .contact-info .box .icon {
  	min-width: 60px;
  	height: 60px;
  	background: #fff;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	border-radius: 50%;
  	font-size: 22px;
}

.container-info .contact-info .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}

.text a{
	text-decoration: none;
	color: white;
}

.container-info .contact-info .box .text h3 {
	font-weight: 500;
	color: #00bcd4;
}

.contact-form {
	width: 40%;
	padding: 40px;
	background: #fff;
}

.contact-form h2 {
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contact-form .input-box {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.contact-form .input-box span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

/*** Fin Contact ***/

@media (max-width: 991px) {
	section {
		padding: 40px;
		padding-bottom: 140px;
	}
	header {
		padding: 20px 40px;
	}
	header .logo {
		position: relative;
		max-width: 60px;
	}
	header ul {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: 0.2s;
		visibility: hidden;
		opacity: 0;
	}
	header ul.active {
		visibility: visible;
		opacity: 1;
	}
	header ul li a {
		display: inline-block;
		color: #111;
		font-weight: 400;
		margin-left: 0;
		text-decoration: none;
		font-size: 2em;
		margin: 10px 0;
	}
	header ul li a:hover {
		color: #ed0223;
	}
	.toggleMenu {
		position: relative;
		width: 40px;
		height: 40px;
		background: url(../img/menu.png);
		background-position: center;
		background-size: 30px;
		background-repeat: no-repeat;
		background-color: #1a202c;
		border-radius: 5px;
		z-index: 2;
		cursor: pointer;
	}
	.toggleMenu.active {
		background: url(../img/close.png);
		background-position: center;
		background-size: 25px;
		background-repeat: no-repeat;
		filter: invert(1);
	}
	.content {
		flex-direction: column;
		margin-top: 80px;
	}
	.content .textBox {
		position: relative;
		max-width: 100%;
		padding-right: 20px;
	}

	.content .textBox h2 {
		font-size: 3em;
	}
	.content .textBox a {
		font-size: 14px;
		padding: 8px 15px;
	}
	.content .imgBox {
		width: 100%;
		display: flex;
		padding-right: 0;
		margin-top: 50px;
		justify-content: center;
	}
	.content .imgBox img {
		max-width: 150px;
	}

	/** Servicios **/
	
	.container {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	}

	.content-card {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	}

	/** Fin Servicios **/
}

@media (max-width: 991px) {
	.imgBox .ball::before {
	    content: '';
	    position: absolute;
	    width: 120px;
	    height: 120px;
	    background: #2d3748;
	    border-radius: 50%;
	    transform: translate(25%, -10%);
	    opacity: .5;
	}
	.about {
	    max-width: 1440px;
	    position: relative;
	    width: 100%;
	    display: flex;
	    flex-direction: column-reverse;
	    justify-content: center;
	    align-items: center;
	}

	.description-container {
	    /* padding-left: 1em; */
	    width: 100%;
	}

	.photo-container {
	    /* width: 50%; */
	    /* padding-right: 1em; */
	    margin-top: 2em;
	}

	/*** Contact ***/

	.contact {
		padding: 50px;
	}
	.container-info {
		flex-direction: column;
	}
	.container-info .contact-info {
		margin-bottom: 40px;
	}
	.container-info .contact-form {
		width: 100%;
	}

	/*** Fin Contact ***/
}

@media (max-width: 375px) {
	.content .textBox h2 {
		font-size: 2.5em;
	}
}

@media (min-width: 2560px) {
	header {
		max-width: 1440px;
		transform: translateX(38.9%);
	}

	header ul li a {
		display: inline-block;
		font-weight: 400;
		margin-left: 0;
		text-decoration: none;
		font-size: 2.3em;
		margin: 10px 0;
		padding: .5em;
	}

	header a .logo-name {
		font-size: 2.3em;
	}
	.description-container {
	    padding-left: 1em;
	    width: 60%;
	}
	.title-about {
	    color: #fff;
	    font-weight: 500;
	    font-size: 3em;
	}
	.parrafo-about {
	    color: #cbd5e0;
	    font-weight: 300;
	    font-size: 1.5em;
	}
}